.user-list {
	list-style-type: none;
}

.list-element {
	width: 250px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-top: 10px;
	font-size: 25px;
	color: #333;
	position: relative;
	padding-left: 20px;
	text-align: start;
}

.list-element:hover {
	background-color: pink;
}

.x-button {
	position: absolute;
	right: 7px;
	bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

.x-button:hover {
	color: red;
}
